**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.DS_Store
**/*.user
**/*.suo
**/*.sln.docstates
.git/
.github/
docker-compose.override.yml
.env
.env.local
TestResults/
coverage/
dist/
